.zoom_plus, .zoom_minus{
   display: block;
   width: 30px;
   height: 30px;
   background-image: url('../images/zoom.png');
   background-repeat: no-repeat;
   margin-bottom: 10px;
}
.zoom{
   position: absolute;
   top: 155px;
   right: 20px;
   z-index: 10;
} 
.zoom_plus{
   background-position: -30px 0px;
}
.zoom_minus{
   background-position: -30px -30px;
}
.zoom_plus:hover{
   background-position: 0px 0px;
}
.zoom_minus:hover{
   background-position: 0px -30px;
}
img {
   border:0px;
}
#map_canvas {
   height: 380px; width:1024px;
}


