ul.test li {
        list-style-type: disc;
        margin-left: 30px;
        line-height: 30px;
       
      }
      ul.test {
         margin-top: 5px;
      }
      .hmm {
         font-weight: bold;
         margin-right: 10px; 
      }
      .hmm:after{
        content:' : ';
      }
      ul.test1 li {
        list-style-type: decimal;
        margin-left: 30px;
        line-height: 30px;
       
      }
      ul.test1 {
         margin-top: 5px;
      }
      p {
        text-indent: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .conclusion {
      }
      ul.conclusion li{
         line-height: 30px;
        list-style-type: none;
        margin-left: 30px;
      }
      strong {
        margin-left: 5px;
        margin-right: 5px;
      }